.aider*
.env
.msi
app_data/
node_modules/
.electron/
__pycache__/
are_database.db
static/

backend/alembic/README
backend/alembic/env.py
backend/alembic/script.py.mako
backend/alembic/__pycache__/
backend/alembic/versions/__pycache__/

memory-bank/

.clinerules

faiss_id_map.npy
faiss_index.bin

static/images/
.vscode/

tasks/

backend/models/rerank_models/
