@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html, body {
    height: 100%;
    @apply bg-app-bg text-app-text;
  }
  
  #root {
    @apply min-h-screen flex flex-col bg-app-bg text-app-text;
  }
  
  /* Hide main document scrollbar */
  body::-webkit-scrollbar {
    display: none;
  }
  
  html {
    scrollbar-width: none;
  }
}

